<nb-card>
    <nb-card-header>
        SHARE PROJECT
        <nb-icon nbTooltip="Close dialog" nbTooltipPlacement="top" (click)="ref.close()" [options]="{ animation: { type: 'pulse' } }" icon="close-outline"></nb-icon>
    </nb-card-header>
    <nb-card-body>
        <p class="label-input">Share to</p>
        <div class="share-search">
            <div class="share-search-ipt">
                <nb-tag-list (tagRemove)="onTagRemove($event)">
                    <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
                    <input type="text" nbTagInput placeholder="Share to..." [nbAutocomplete]="autocomplete" fullWidth>
                </nb-tag-list>
                <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
                    <nb-option class="option" *ngFor="let option of options" [value]="option">
                        <img [src]="option.photoURL" alt="">
                        <h6>{{option.displayName}}</h6>
                    </nb-option>
                </nb-autocomplete> 
            </div>
            <div class="share-search-btn-content">
                <button (click)="sendInvite()" class="share-search-btn" nbTooltip="Send invitation" nbTooltipPlacement="top">Invite</button>
            </div>
        </div>

        <div class="separate-hor"></div>
        <p class="label-input">Current members: </p>
        <div class="current-mems-list">
            <div class="current-mems-container" *ngFor="let mem of project.members">
                <div class="current-mems-content">
                    <div class="current-mems">
                        <div class="current-mem-info">
                            <img [src]="mem.photoURL" alt="">
                            <p>{{mem.displayName}}</p>
                        </div>
                        <div *ngIf="mem.uid === project.owner" class="current-mem-role admin-role">
                            <p>Admin</p>    
                        </div>
                        <div *ngIf="mem.uid !== project.owner" class="current-mem-role mem-role">
                            <p>Member</p>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>