.calendar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.calendar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.calendar-month {
    margin: 0 1.8rem 10px 1.8rem;

    p {
        font-size: 1rem;
        font-weight: 600;
    }
}

// CSS FOR THE CALENDAR DATE CONTENT
.calendar-content-week {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.calendar-date-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: palegreen;
}

.calendar-date-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.calendar-date {
    display: flex;
    flex-direction: row;
    width: 4rem;
    height: 4.5rem;
    background-color: palegoldenrod;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.calendar-date-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}