<div class="calendar">
    <div class="calendar-content">
        <div class="calendar-month">
            <p>January</p>
        </div>
        <div class="calendar-content-week">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
            <div class="calendar-date-list">
                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">SUN</div>
                        <div class="calendar-day">25</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">MON</div>
                        <div class="calendar-day">26</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">TUE</div>
                        <div class="calendar-day">27</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">WED</div>
                        <div class="calendar-day">28</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">THU</div>
                        <div class="calendar-day">29</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">FRI</div>
                        <div class="calendar-day">30</div>
                    </div>
                </div>

                <div class="calendar-date">
                    <div class="calendar-date-content">
                        <div class="calendar-week-day">SAT</div>
                        <div class="calendar-day">31</div>
                    </div>
                </div>


            </div>
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
        </div>
    </div>
</div>