textarea {
    resize: none;
}

.edit-task-dialog {
    width: 60vw;
    height: 80vh;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
}

.edit-task-dialog-main-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Css for the left view (task info)
.edit-task-left-view {
    width: 55%;
    height: 100%;
    padding: 1rem;
}

.edit-task-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    outline: none;
    border: transparent solid 1px;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--gray-blue);
    }

    &:active {
        border: var(--primary) solid 1px;
    }

    &:focus {
        border: var(--primary) solid 1px;
    }
}

.edit-label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.8rem 0 0.8rem 0.5rem;
}

.edit-task-description {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: transparent solid 1px;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--gray-blue);
    }
}

// Css for the edit task fields group
.task-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}


// CSS for the edit task fields
.edit-task-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;

    p{
        margin: 0;
        font-weight: 700;
        font-size: 0.8rem;
    }

    input{
        width: 100% !important;
    }
}

.edit-task-field-assignee{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 1rem;

    p{
        margin: 0;
        font-weight: 700;
        font-size: 0.8rem;
    }

    nb-tag-list{
        width: 100%;

        input{
            width: 100%;
        }
    }
}

// Css for the right view 
.edit-task-right-view {
    width: 45%;
    height: 100%;
}

.edit-label-right{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

// Css for the top right view (task subtasks)
.edit-task-right-top{
    width: 100%;
    height: 40%;
    padding: 1rem;

    .right-top-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        padding-bottom: 5px;
    }

    .right-top-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90%;
    }
}

.right-top-view{
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

// Css for the bottom right view (task comments)
.edit-task-right-bot{
    width: 100%;
    height: 60%;
    background-color: lightcoral;
    padding: 1rem;
}