textarea {
    resize: none;
}

.edit-task-dialog {
    width: 60vw;
    height: 80vh;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
}

.edit-task-dialog-main-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Css for the left view (task info)
.edit-task-left-view {
    width: 55%;
    height: 100%;
    padding: 1rem;
}

.edit-task-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    outline: none;
    border: transparent solid 1px;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--gray-blue);
    }

    &:active {
        border: var(--primary) solid 1px;
    }

    &:focus {
        border: var(--primary) solid 1px;
    }
}

.edit-label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.8rem 0 0.8rem 0.5rem;
}

.edit-task-description {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    outline: none;
    border: transparent solid 1px;
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        background-color: var(--gray-blue);
    }
}

// Css for the edit task fields group
.task-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}


// CSS for the edit task fields
.edit-task-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;

    p {
        margin: 0;
        font-weight: 700;
        font-size: 0.8rem;
    }

    input {
        width: 100% !important;
    }
}

.edit-task-field-assignee {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 1rem;

    p {
        margin: 0;
        font-weight: 700;
        font-size: 0.8rem;
    }

    nb-tag-list {
        width: 100%;

        input {
            width: 100%;
        }
    }
}

// Css for the right view 
.edit-task-right-view {
    width: 45%;
    height: 100%;
    background-color: var(--light-blue);
    border-radius: 8px;
}

.edit-label-right {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 5px 0;
}

// Css for the top right view (task subtasks)
.edit-task-right-top {
    width: 100%;
    height: 40%;
    padding: 1rem;

    .right-top-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        padding-bottom: 5px;
    }
}

.right-top-view {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding-right: 8px;
}

// Css for the bottom right view (task comments)
.edit-task-right-bot {
    width: 100%;
    height: 60%;
    padding: 1rem 1rem 0.5rem 1rem;
}

.right-bot-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 95%;
}

.comments-list {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding-right: 8px;
    background-color: lightgoldenrodyellow;
}

// CSS for the comment input at the end of the right content
.comment-input {
    width: 100%;
    height: 10%;
    // background-color: lightgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.btn-with-icon {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
}

.comment-opt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

.comment-ipt {
    width: 80%;
    height: 100%;

    input {
        width: 100%;
        border: none;
        outline: none;
        height: 100%;
        padding: 3px 8px;
        background-color: transparent;
    }
}

.comment-btn {
    width: 10%;
    display: flex;
    justify-content: flex-end;

}