<div class="edit-task-dialog">
    <div class="edit-task-dialog-main-view">
        <div class="edit-task-left-view">
            <input type="text" class="edit-task-title" value="This is a demo task">
            <p class="edit-label">Description</p>
            <textarea type="text" class="edit-task-description" value="This is a dmeo task"
                placeholder="Add a description..."></textarea>
            <p class="edit-label">Details</p>
            <div class="edit-task-field">
                <p class="edit-task-field-label">Status</p>
                <input type="text" value="This is a dmeo task">
            </div>
            <div class="edit-task-field">
                <p class="edit-task-field-label">Priority</p>
                <input type="text" value="This is a dmeo task">
            </div>
            <div class="edit-task-field">
                <p class="edit-task-field-label">Label</p>
                <input type="text" value="This is a dmeo task">
            </div>
            <div class="edit-task-field">
                <p class="edit-task-field-label">Assignee</p>
                <input type="text" value="This is a dmeo task">
            </div>
        </div>
        <div class="edit-task-right-view"></div>
    </div>
</div>