@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* You can add global styles to this file, and also import other style files */

:root{
  --primary: #2c3e50;
  // --primary: #2D4059;
  --primary-hover: #34495e;
  // --secondary: #F07B3F;
  --secondary: #FED81D;
  --light-yellow: #FFE05C;
  --light-gray: #eeeeee;
  --light-gray-2: #e0e0e0;
  --light-gray-3: #EEF0F1;
  --gray-text: #939393;
  --gray-text-2: #7d7d7d;
  --dark: #333333;
  --danger: #FF3D71;
  --danger2: #EA5455;
  --dark-green: #36622B;
  --green: #729D39;
}

*{
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, span{
  // color: var(--dark);
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}


*::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 8px;
	border-radius: 5px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #e8e8e8;
	border-radius: 5px;
	border: 2px solid var(--light-gray);

    &:hover{
        background-color: #d2d2d2;
    }
}

nb-icon:hover{
    cursor: pointer;
}

textarea {
  resize: none;
}