@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
/* You can add global styles to this file, and also import other style files */

:root{
  --primary: #2c3e50;
  --secondary: #FED81D;
  --light-yellow: #FFE05C;
  --light-gray: #eeeeee;
  --dark: #333333;
  --danger: #FF3D71;
}

*{
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, span{
  // color: var(--dark);
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
