<div class="project-detail-container" *ngIf="projectInfo">
    <div class="project-detail-top-option">
        <div style="display: flex; justify-content: center; align-items: center;">
            <nb-icon [options]="{ animation: { type: 'pulse' } }" (click)="goBack()" class="backBtn" style="font-size: 1rem; margin-right: 10px;" icon="arrow-circle-left-outline"></nb-icon>
            <h2>{{projectInfo.name}}</h2>
        </div>
        <div class="project-detail-option-list">
            <div class="option-btn add-new-task-btn" (click)="openAddTaskDialog()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" style="font-size: 1.5rem" nbTooltip="New task" nbTooltipPlacement="top" icon="plus-outline"></nb-icon>
            </div>
            <div class="option-btn share-btn" (click)="openShareDialog()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" style="font-size: 1.5rem" nbTooltip="Share" nbTooltipPlacement="top"  icon="share-outline"></nb-icon>
            </div>
            <!-- <div class="option-btn info-btn" (click)="openProjectInfoDialog()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" style="font-size: 1.5rem" nbTooltip="Project's info" nbTooltipPlacement="top"  icon="info-outline"></nb-icon>
            </div> -->
            <div class="option-btn delete-btn" (click)="deleteProject()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" style="font-size: 1.5rem" nbTooltip="Delete project" nbTooltipPlacement="top"  icon="trash-2-outline"></nb-icon>
            </div>
        </div>
    </div>
    <div class="project-task-col-bottom" cdkDropListGroup>
        <div class="project-task-col-content">
            <!-- <app-project-task-col [taskList]="taskList" [taskColTitle]="'To do'"></app-project-task-col> -->
            <!-- <app-project-task-col (updateTaskStatusEvent)="updateTaskStatusEvent($event)" (deleteTaskStatusEvent)="deleteTaskStatusEvent($event)" [colTitle]="'To do'" [colListTask]="todoTasks"></app-project-task-col>
            <app-project-task-col (updateTaskStatusEvent)="updateTaskStatusEvent($event)" (deleteTaskStatusEvent)="deleteTaskStatusEvent($event)" [colTitle]="'Doing'" [colListTask]="doingTasks"></app-project-task-col>
            <app-project-task-col  (updateTaskStatusEvent)="updateTaskStatusEvent($event)" (deleteTaskStatusEvent)="deleteTaskStatusEvent($event)" [colTitle]="'Done'" [colListTask]="doneTasks"></app-project-task-col> -->
        
            <div class="task-col-container" 
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todoTasks"
                [cdkDropListConnectedTo]="[doingList]"
                (cdkDropListDropped)="drop($event)">
                    <div class="task-col-title">
                        <h3>To do</h3>
                    </div>
                    <div class="task-col-list">
                        <div class="task-col-list-content" *ngIf="todoTasks.length !== 0">
                            <app-project-task cdkDrag #projectTask *ngFor="let task of todoTasks" [task]="task" ></app-project-task>
                        </div>
                        <div class="task-col-list-content-non" *ngIf="todoTasks.length === 0">
                            <p>0 <span> to do</span> tasks</p>
                        </div>
                    </div>
            </div>

            <div class="task-col-container" 
                cdkDropList
                #doingList="cdkDropList"
                [cdkDropListData]="doingTasks"
                [cdkDropListConnectedTo]="[todoList, doneList]"
                (cdkDropListDropped)="drop($event)">
                    <div class="task-col-title">
                        <h3>Doing</h3>
                    </div>
                    <div class="task-col-list">
                        <div class="task-col-list-content" *ngIf="doingTasks.length !== 0">
                            <app-project-task cdkDrag #projectTask *ngFor="let task of doingTasks" [task]="task" ></app-project-task>
                        </div>
                        <div class="task-col-list-content-non" *ngIf="doingTasks.length === 0">
                            <p>0 <span> doing</span> tasks</p>
                        </div>
                    </div>
            </div>

            <div class="task-col-container" 
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="doneTasks"
                [cdkDropListConnectedTo]="[doingList]"
                (cdkDropListDropped)="drop($event)">
                    <div class="task-col-title">
                        <h3>Done</h3>
                    </div>
                    <div class="task-col-list">
                        <div class="task-col-list-content" *ngIf="doneTasks.length !== 0">
                            <app-project-task cdkDrag #projectTask *ngFor="let task of doneTasks" [task]="task" ></app-project-task>
                        </div>
                        <div class="task-col-list-content-non" *ngIf="doneTasks.length === 0">
                            <p>0 <span> done</span> tasks</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>