<div class="project-detail-container">
    <div class="project-detail-top-option">
        <div style="display: flex; justify-content: center; align-items: center;">
            <nb-icon (click)="goBack()" class="backBtn" style="font-size: 1.5rem; margin-right: 10px;" icon="arrow-circle-left-outline"></nb-icon>
            <h2>This is a demo project</h2>
        </div>
        <div class="project-detail-option-list">
            <div class="option-btn add-new-task-btn">
                <nb-icon style="font-size: 1.5rem" nbTooltip="New task" nbTooltipPlacement="top" icon="plus-outline"></nb-icon>
            </div>
            <div class="option-btn share-btn">
                <nb-icon style="font-size: 1.5rem" nbTooltip="Share" nbTooltipPlacement="top"  icon="share-outline"></nb-icon>
            </div>
            <div class="option-btn info-btn">
                <nb-icon style="font-size: 1.5rem" nbTooltip="Project's info" nbTooltipPlacement="top"  icon="info-outline"></nb-icon>
            </div>
            <div class="option-btn delete-btn">
                <nb-icon style="font-size: 1.5rem" nbTooltip="Delete project" nbTooltipPlacement="top"  icon="trash-2-outline"></nb-icon>
            </div>
        </div>
    </div>
    <div class="project-task-col-bottom">
        <div class="project-task-col-content">
            <!-- <app-project-task-col [taskList]="taskList" [taskColTitle]="'To do'"></app-project-task-col> -->
            <app-project-task-col [colTitle]="'To do'"></app-project-task-col>
            <app-project-task-col [colTitle]="'Doing'"></app-project-task-col>
            <app-project-task-col [colTitle]="'Done'"></app-project-task-col>
        </div>
    </div>
</div>