<div class="project-task-container">
    <div class="project-task-info">
        <div class="project-task-info-content">
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
    <div class="project-task-bottom">
        <div class="project-task-bottom-content">
            <div class="project-task-assigned">
                <div class="user-assigned-ava">
                    <img src="../../../../../assets/images/user-ava.jpg" alt="">
                </div>
                <p>DEMO</p>
            </div>
            <div class="project-task-options">
                <div class="optionBtn editBtn" nbTooltip="Edit">
                    <nb-icon  icon="edit-outline"></nb-icon>
                </div>
                <div class="optionBtn trashBtn" nbTooltip="Delete">
                    <nb-icon  icon="trash-2-outline" status="danger"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>