input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;

    &:focus{
        border: 2px solid var(--dark);
    }
}

.footer-dialog-add{
    display: flex;
    justify-content: space-between;
    
}

.btn-dialog{
    // background-color: #3f51b5;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    margin: 0 5px;
}

.cancelBtn{
    // background-color: #f44336;
    // color: #fff;
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
    color: var(--dark);

    &:hover{
        border: 2px solid var(--dark);
        cursor: pointer;
    }
}

.addBtn{
    // background-color: #f44336;
    // color: #fff;
    background-color: var(--dark);
    border: 2px solid var(--dark);
    color: white;

    &:hover{
        background-color: white;
        color: var(--dark);
        cursor: pointer;
    }
}

.label-input{
    font-weight: bold;
    margin: 5px 0;
}