<div class="login-container">
    <div class="login-left">
        <img src="../../../assets/images/login1.gif" alt="">
    </div>
    <div class="login-right">
        <div class="login-right-content">
            <img src="../../../assets/images/logo_large.png" alt="">
            <h1>Login to join with us!</h1>
            <div class="login-form">
                <input class="inpt" placeholder="Email..." type="text">
                <input class="inpt" placeholder="Password..." type="text">
            </div>
            <!-- <div class="login-footer">
                <div class="login-footer-left">
                    <nb-checkbox></nb-checkbox>
                    <label for="">Remember me</label>
                </div>
                <div class="login-footer-right">
                    <a href="#">Forgot password?</a>
                </div>
            </div> -->
            <button class="sign-in-btn">Sign In</button>
            <div class="divider">
                <div class="divider-content">
                    <!-- <div class="divider-hori"></div>
                    <div class="divider-dot"></div>
                    <div class="divider-hori"></div> -->
                    <div class="divider-hori"></div>
                </div>
            </div>
            <div class="other-login-opts">
                <div class="other-opt gg-btn" (click)="loginWithGoogle()">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" nbTooltip="Login with Google" nbTooltipPlacement="top" style="font-size: 2rem;" icon="google"></nb-icon>
                </div>
                <div class="other-opt fb-btn">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" nbTooltip="Login with Facebook" nbTooltipPlacement="top" style="font-size: 2rem;" icon="facebook"></nb-icon>
                </div>
                <div class="other-opt tw-btn">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" nbTooltip="Login with Twitter" nbTooltipPlacement="top" style="font-size: 2rem;" icon="twitter"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>