<div class="personal-task" *ngIf="todo != null">
    <div class="personal-task-content">
        <div class="personal-task-left-content">
            <nb-checkbox (checkedChange)="toggleDone($event)" [checked]="todo.status"></nb-checkbox>
            <h5 [ngStyle]="{'text-decoration-line': isDone || todo.status ? 'line-through': 'none'}">{{todo.content}}</h5>
        </div>
        <div class="personal-task-options">
            <div class="option edit" nbTooltip="Edit">
                <nb-icon  icon="edit-outline"></nb-icon>
            </div>
            <div class="option trash" nbTooltip="Delete">
                <nb-icon  icon="trash-2-outline" status="danger"></nb-icon>
            </div>
        </div>
    </div>
</div>