h5{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

nb-checkbox{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.personal-task{
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid var(--light-gray);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &:hover{
        border: 2px solid var(--primary);
        cursor: pointer;
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    &:focus{
        border: 2px solid var(--primary);
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

.personal-task-content{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal-task-options{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.personal-task-left-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 93%;
}

.option{
    width: 1.8rem;
    height: 1.8rem;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: 2px solid transparent;
}

.trash{
    // border: 2px solid var(--danger);
    &:hover{
        background-color: var(--danger);
        cursor: pointer;
        
        nb-icon{
            color: white;
        }
    }
}

.edit{
    // border: 2px solid var(--primary);
    nb-icon{
        color: var(--primary);
    }
    &:hover{
        background-color: var(--primary);
        cursor: pointer;
        
        nb-icon{
            color: white;
        }
    }
}

.onEdit{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    nb-icon{
        color: white;
    }
    &:hover{
        background-color: white;
        cursor: pointer;
        
        nb-icon{
            color: var(--primary);
        }
    }
}

input{
    border: none;
    outline: none;
    font-weight: 500;
    border-bottom: 2.5px solid var(--light-gray);
    width: 100%;
    &:focus{
        opacity: 1;
        border-bottom: 2.5px solid var(--primary);
    }

    &:hover{
        cursor: text;
        opacity: 1;
        border-bottom: 2.5px solid var(--primary);
    }
}