<div class="personal-task">
    <div class="personal-task-content">
        <nb-checkbox (checkedChange)="toggleDone($event)"></nb-checkbox>
        <h5 [ngStyle]="{'text-decoration-line': isDone ? 'line-through': 'none'}">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h5>
        <div class="personal-task-options">
            <div class="option edit" nbTooltip="Edit">
                <nb-icon  icon="edit-outline"></nb-icon>
            </div>
            <div class="option trash" nbTooltip="Delete">
                <nb-icon  icon="trash-2-outline" status="danger"></nb-icon>
            </div>
        </div>
    </div>
</div>