<div  class="project-task-container" >
    <div class="project-task-info">
        <div class="project-task-info-content">
            <h4>{{task.name}}</h4>
            <p>{{task.description}}</p>
        </div>
    </div>
    <div class="project-task-bottom">
        <div class="project-task-bottom-content">
            <div class="project-task-assigned">
                <div class="user-assigned-ava">
                    <img [src]="task.asignee.photoURL" alt="">
                </div>
                <p>{{task.asignee.displayName}}</p>
            </div>
            <div class="project-task-options">
                <div class="optionBtn editBtn" nbTooltip="Edit" (click)="openTaskEditDialog()">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="edit-outline"></nb-icon>
                </div>
                <div class="optionBtn trashBtn" nbTooltip="Delete" (click)="deleteTask()">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="trash-2-outline" status="danger"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>