<div class="project-card" nbTooltip="This is a demo project" nbTooltipPlacement="top" (click)="projectDetail('1')">
    <div class="project-card-content">
        <div class="project-card-top">
            <h4 class="project-title">This is a demo project</h4>
            <p class="projec-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="project-card-bottom">
            <div class="project-card-bot-content">
                <p>Updated Dec, 20th 2022</p>
                <div class="delete-project-btn" nbTooltip="Delete project" nbTooltipPlacement="bottom" (click)="deleteProject()">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>