<div class="task-col-container">
    <div class="task-col-title">
        <h3>{{colTitle}}</h3>
    </div>
    <div class="task-col-list">
        <div class="task-col-list-content">
            <!-- <app-project-task *ngFor="let task of taskList" [task]="task"></app-project-task> -->
            <app-project-task></app-project-task>
            <app-project-task></app-project-task>
            <app-project-task></app-project-task>
            <app-project-task></app-project-task>
            <app-project-task></app-project-task>
        </div>
    </div>
</div>