<!-- <div class="home-container" *ngIf="userService.user != null">
    <div class="home-left-content">
        <div class="home-left-top">
            <app-floating-btn [owner]="userService.user.uid" (newTodo)="addNewTodoToday($event)"
                class="floating"></app-floating-btn>
            <h1>Welcome back, <span>{{userShortName}}</span>!</h1>
            <div class="home-left-top-info">
                <h5><span>{{date | date:'EEEE'}}</span>, {{date | date:'dd/MM/yyyy'}}</h5>
                <h5>Today you have <span>{{todoList != null ? todoFilterByOption.length : 0}}</span> tasks to do.</h5>
            </div>
        </div>
        <div class="home-left-body">
            <div class="home-left-bottom-content">
                <app-personal-task (deleteTodoEvent)="deleteTodoEvent($event)" [todo]="todo"
                    *ngFor="let todo of todoFilterByOption"></app-personal-task>
            </div>
        </div>
        <div class="home-left-footer">
            <div class="home-left-footer-content">
                <div class="filter-personal-task">
                    <div (click)="filterOptionChanged(0)"
                        [class]="filterOption === 0 ? 'filter-option-active' : 'filter-option'">
                        <p>All</p>
                    </div>
                    <div class="separate"></div>
                    <div (click)="filterOptionChanged(1)"
                        [class]="filterOption === 1 ? 'filter-option-active' : 'filter-option'">
                        <p>To do</p>
                    </div>
                    <div class="separate"></div>
                    <div (click)="filterOptionChanged(2)"
                        [class]="filterOption === 2 ? 'filter-option-active' : 'filter-option'">
                        <p>Done</p>
                    </div>
                </div>
                <div class="filter-personal-task">
                    <div (click)="checkAllTodoDone()" class="filter-option-r check-option">
                        <p *ngIf="!isCheckAll">Check All</p>
                        <p *ngIf="isCheckAll">Uncheck All</p>
                    </div>
                    <div class="separate"></div>
                    <div class="filter-option-r delete-option" (click)="deleteMultipleTodo()">
                        <p>Delete Multi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-right-content">
        <div class="home-right-top">
            <img src="../../../assets//images/welcome_back.png" alt="">
        </div>
        <div class="home-right-bottom">
            <nb-calendar [(date)]="pickedDate" (dateChange)="filterByDate($event)"></nb-calendar>
        </div>
    </div>
</div> -->
<div class="home-container">
    <div class="home-content">
        <div class="left-container">
            <div class="home-detail-info">
                <h2>Hello, <span>{{userShortName}}</span>!</h2>
            </div>
            <div class="home-main-content">
                <div class="home-top-option">
                    <!-- <div class="calendar-container"> -->
                    <app-calendar class="calendar-base"></app-calendar>
                    <!-- </div> -->
                    <div class="filter-todo-container">
                        <p class="filter-todo-label">Filter</p>
                        <div class="filter-todo-list">
                            <div class="label-filter-item filter-active">
                                <p>All</p>
                            </div>
                            <div class="label-filter-item">
                                <p>To do</p>
                            </div>
                            <div class="label-filter-item">
                                <p>Done</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-task-render">
                    <h3>Personal task</h3>
                    <app-personal-task></app-personal-task>
                    <app-personal-task></app-personal-task>
                    <app-personal-task></app-personal-task>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="right-top-content">
                <div class="task-num personal">
                    <h5>4</h5>
                    <p>Personal</p>
                </div>
                <div class="task-num official">
                    <h5>10</h5>
                    <p>Official</p>
                </div>
            </div>
            <div class="right-bottom-content">
                <h4>Add new to do</h4>
            </div>
        </div>
    </div>
</div>