<div class="by-label-container">
    <div class="by-label-content">
        <div class="by-label-filter">
            <div class="search">
                <input type="text" placeholder="Task title is...">
                <button class="search-btn">Search</button>
            </div>
            <div class="label-filter-list">
                <h6>Label filter:</h6>
                <div class="label-filter-container">
                    <div (click)="selectedOptionChange(i)"
                        [ngClass]="[selectedOption != i ? 'label-filter-item': 'label-filter-item active']"
                        *ngFor="let label of projectPropService.labelsTask; let i = index">
                        <p>{{label.label}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="by-label-list">
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>

            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>

            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
            <div style="width: 18rem; height: fit-content;">
                <app-by-label-task></app-by-label-task>
            </div>
        </div>
    </div>
</div>