<div class="project-container">
    <div class="project-top-option">
        <h2>Project List</h2>
        <div class="project-top-option-list">
            <!-- <div class="filter-project" nbTooltip="Filter" nbTooltipPlacement="top"> -->
                <!-- <p>All projects</p> -->
                <!-- <p>My</p> -->
                <!-- <p>Shared with me</p> -->
                <!-- <nb-icon icon="arrow-down"></nb-icon> -->
                <!-- <nb-icon icon="arrow-up"></nb-icon> -->
            <!-- </div> -->
            <nb-select placeholder="Select Showcase" (selectedChange)="filterProjects($event)" [(selected)]="isSharedProjects">
                <nb-option value="0">My projects</nb-option>
                <nb-option value="1">Shared with me</nb-option>
            </nb-select>
            <div class="add-new-project-btn" nbTooltip="New project" nbTooltipPlacement="top" (click)="openAddNewDialog()">
                <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="plus-outline"></nb-icon>
                <p>Add new project</p>
            </div>
        </div>
    </div>
    <div class="project-bottom">
        <div *ngIf="projectRendered != null" class="project-list">
            <app-project-card *ngFor="let project of projectRendered" [owner]="userService.user" [project]="project" (deleteProjectEvent)="deleteProjectEvent($event)"></app-project-card> 
        </div>
        <div class="non-project" *ngIf="projectRendered.length == 0">
            <h4 *ngIf="isSharedProjects == '0'">You haven't had any projects.</h4>
            <h4 *ngIf="isSharedProjects == '1'">You haven't joined any projects.</h4>
        </div>
    </div>
</div>