<div class="project-container">
    <div class="project-top-option">
        <h1>Project List</h1>
        <div class="project-top-option-list">
            <div class="filter-project" nbTooltip="Filter" nbTooltipPlacement="top">
                <!-- <p>All projects</p> -->
                <!-- <p>My</p> -->
                <p>Shared with me</p>
                <nb-icon icon="arrow-down"></nb-icon>
                <!-- <nb-icon icon="arrow-up"></nb-icon> -->
            </div>
            <div class="add-new-project-btn" nbTooltip="New project" nbTooltipPlacement="top">
                <nb-icon icon="plus-outline"></nb-icon>
                <p>Add new project</p>
            </div>
        </div>
    </div>
    <div class="project-bottom">
        <div class="project-list">
            <app-project-card></app-project-card> 
            <app-project-card></app-project-card>
            <app-project-card></app-project-card>
            <app-project-card></app-project-card>
            <app-project-card></app-project-card>
            <app-project-card></app-project-card>
        </div>
    </div>
</div>