// .board-task-card {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 100%;
//     padding: 8px;
//     border-radius: 5px;
//     background-color: palegoldenrod;
//     margin: 2px 0;
// }

// .board-task-card-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 100%;
//     border-radius: 5px;
//     background-color: palevioletred;
//     margin: 2px 0;
// }

p {
    margin: 0;
}

.project-task-card {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 10px 0;
    border: 2px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
        cursor: pointer;
        border: 2px solid var(--primary);
    }
}

.project-task-card-content {
    width: 100%;
    height: 100%;
}

.task-preview {
    display: flex;
    flex-direction: column;
    height: 82%;
}

.task-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.task-label-prio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .tag {
        padding: 3px 5px;
        border-radius: 5px;
        font-weight: 700;
        margin: 0 5px 0 0;
        font-size: 0.7rem;
    }
}

.task-label {
    background-color: var(--light-blue) !important;
    color: var(--blue) !important;
}

// priority tag colors
.prio-high {
    background-color: var(--light-red) !important;
    color: var(--red) !important;
}

.prio-med {
    background-color: var(--light-yellow) !important;
    color: var(--yellow) !important;
}

.prio-low {
    background-color: var(--light-green) !important;
    color: var(--green) !important;
}

.task-title {
    margin-bottom: 5px;
    color: var(--dark);
    line-height: 1.3rem;
    font-size: 1.1rem;
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
    /* let the text wrap preserving spaces */
}

// .task-des {
//     margin-bottom: 3px;
//     font-size: 0.8rem;
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 3;
//     /* start showing ellipsis when 3rd line is reached */
//     white-space: pre-wrap;
//     /* let the text wrap preserving spaces */
// }

.task-deadline {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    nb-icon {
        font-size: 1rem;
        color: var(--gray-text);
        margin-right: 5px;
    }

    p {
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--gray-text);
        margin: 0 4px 0 0;
    }
}

// Task info about asignee list avatars and number of comments and sub tasks
.task-info {
    border-top: 1px solid var(--light-gray-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    width: 100%;
    padding: 3px;
}

.task-info-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Asignee avatar css



.task-asignee-ava {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 2.5px solid white;
    margin-left: -0.7rem;
}

.task-comment-subTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
}

.task-comment,
.task-subTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;

    nb-icon {
        font-size: 1rem;
        color: var(--dark);
        margin-right: 5px;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}