<!-- <div class="task-col-container" 
cdkDropList
#todoList="cdkDropList"
[cdkDropListData]="colListTask"
[cdkDropListConnectedTo]="[getConnectedList()]"
class="example-list"
(cdkDropListDropped)="drop($event)">
    <div class="task-col-title">
        <h3>{{colTitle}}</h3>
    </div>
    <div class="task-col-list">
        <div class="task-col-list-content" *ngIf="colListTask.length !== 0">
            <app-project-task cdkDrag #projectTask *ngFor="let task of colListTask" [task]="task" (updateTaskEvent)="updateTaskEvent($event)" (deleteTaskEvent)="deleteTaskEvent($event)"></app-project-task>
        </div>
        <div class="task-col-list-content-non" *ngIf="colListTask.length === 0">
            <p>0 <span>{{colTitle}}</span> tasks</p>
        </div>
    </div>
</div> -->

<div class="project-task-col" cdkDropListGroup>
    <div class="project-task-col-content">
        <div class="task-col">
            <div class="task-col-title">
                <p class="task-col-title-label todo">To do</p>
                <p class="task-col-count">0</p>
            </div>
            <div class="task-col-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks"
                [cdkDropListConnectedTo]="[doingList]" (cdkDropListDropped)="drop($event)">
                <div class="task-col-list">
                    <app-project-task></app-project-task>
                </div>
            </div>
        </div>

        <div class="task-col">
            <div class="task-col-title">
                <p class="task-col-title-label in-progress">In progress</p>
                <p class="task-col-count">0</p>
            </div>
            <div class="task-col-container" cdkDropList #doingList="cdkDropList" [cdkDropListData]="doingTasks"
                [cdkDropListConnectedTo]="[todoList, reviewList]" (cdkDropListDropped)="drop($event)">
                <div class="task-col-list">
                    <app-project-task></app-project-task>
                    <app-project-task></app-project-task>
                </div>
            </div>
        </div>

        <div class="task-col">
            <div class="task-col-title">
                <p class="task-col-title-label review">Review</p>
                <p class="task-col-count">0</p>
            </div>
            <div class="task-col-container" cdkDropList #reviewList="cdkDropList" [cdkDropListData]="reviewTasks"
                [cdkDropListConnectedTo]="[doingList, doneList]" (cdkDropListDropped)="drop($event)">
                <div class="task-col-list">
                    <app-project-task></app-project-task>
                </div>
            </div>
        </div>

        <div class="task-col">
            <div class="task-col-title">
                <p class="task-col-title-label done">Done</p>
                <p class="task-col-count">0</p>
            </div>
            <div class="task-col-container" cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks"
                [cdkDropListConnectedTo]="[doingList]" (cdkDropListDropped)="drop($event)">
                <div class="task-col-list">
                    <app-project-task></app-project-task>
                </div>
            </div>
        </div>
    </div>

</div>