<nb-card>
    <nb-card-header>
        CREATE NEW PROJECT
    </nb-card-header>
    <nb-card-body>
        <p class="label-input">Project Name*</p>
        <input class="project-info-ipt" type="text" [(ngModel)]="projectName" placeholder="Enter project name...">
        
        <p class="label-input">Description</p>
        <input class="project-info-ipt" type="text" [(ngModel)]="projectDescription" placeholder="This project is about...">
        
        <p class="label-input">Members</p>
        <nb-tag-list (tagRemove)="onTagRemove($event)">
            <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
            <input type="text" nbTagInput placeholder="Share to..." [nbAutocomplete]="autocomplete" fullWidth>
        </nb-tag-list>
        <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
            <nb-option class="option" *ngFor="let option of options" [value]="option">
                <img [src]="option.photoURL" alt="">
                <h6>{{option.displayName}}</h6>
            </nb-option>
        </nb-autocomplete>      
    
    </nb-card-body>
    <nb-card-footer>
        <button class="btn-dialog cancelBtn" (click)="ref.close()">Cancel</button>
        <button class="btn-dialog addBtn" (click)="createProject()">Create Project</button>
    </nb-card-footer>
</nb-card>