.sidebar-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--light-gray);
}

.sidebar-content{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 90%;
        height: 90%;
    }
}

// sidebar menu css
.side_menu{
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    width: 75%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-icon{
        width: 1.5rem;
        height: 1.5rem;
        color:  var(--primary);
    }

    &:hover{
        cursor: pointer;
        background-color: var(--primary);
        .menu-icon{
            color: white;
        }
    }
}

.actived-menu{
    width: 75%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    .menu-icon{
        width: 1.5rem;
        height: 1.5rem;
        color: white !important;
    }
}

.bottom-sidebar-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-ava{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #d1d1d1;
    }

    &:hover{
        cursor: pointer;
        img{
            border: 2px solid var(--primary);
        }
    }
}


// sidebar mobile view css
@media screen and (max-width: 768px) {
    .sidebar-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid var(--light-gray);
    }
    
    .sidebar-content{
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .top-sidebar-content{
        display: flex;
        flex-direction: row;

    }
    
    .logo{
        width: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img{
            width: 70%;
            height: 70%;
        }
    }
    
    // sidebar menu css
    .side_menu{
        list-style: none;
        margin-left: 1rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .menu{
        width: 75%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .menu-icon{
            width: 1.5rem;
            height: 1.5rem;
            color:  var(--primary);
        }
    
        &:hover{
            cursor: pointer;
            background-color: var(--primary);
            .menu-icon{
                color: white;
            }
        }
    }
    
    .actived-menu{
        width: 75%;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        .menu-icon{
            width: 1.5rem;
            height: 1.5rem;
            color: white !important;
        }
    }
}
    

