<div *ngIf="user" class="sidebar-container">
  <div class="sidebar-content">
    <div class="top-sidebar-content">
        <div class="logo">
            <img src="../../../assets/images/logo_v1.png" alt="">
        </div>
        <ul class="side_menu">
          <li (click)="selectMenu(i)" [class]="selectedMenu == i ? 'actived-menu' : 'menu'" [nbTooltip]="menu.title" nbTooltipPlacement="right"
            *ngFor="let menu of sidemenu; let i = index">
            <nb-icon [options]="{ animation: { type: 'pulse' } }" class="menu-icon" [icon]="menu.icon"></nb-icon>
          </li>
        </ul>
        <div class="separate-hor"></div>
        <ul class="side_menu">
          <li  (click)="openDialog(menuInfo.dialog)" class="menu" [nbTooltip]="menuInfo.title" nbTooltipPlacement="right"
            *ngFor="let menuInfo of sidemenuInfo; let i = index">
            <nb-badge *ngIf="menuInfo.unRead != '0'" status="danger" position="top right" [text]="menuInfo.unRead"></nb-badge>
            <nb-icon [options]="{ animation: { type: 'pulse' } }" class="menu-icon" [icon]="menuInfo.icon"></nb-icon>
          </li>
        </ul>
    </div>
    <div class="bottom-sidebar-content">
      <div class="user-ava" [nbTooltip]="user.displayName ?? ''" nbTooltipPlacement="right">
        <!-- <img src="../../../assets/images/user-ava.jpg" alt=""> -->
        <img [src]="user.photoURL" alt="">
      </div>
      <div class="logout-btn menu" (click)="logout()" nbTooltip="Log out" nbTooltipPlacement="right">
        <nb-icon [options]="{ animation: { type: 'pulse' } }" class="menu-icon" icon="log-out-outline"></nb-icon>
      </div>
      
    </div>
  </div>
</div>
