nb-card{
    width: 30vw;
}

nb-card-footer{
    display: flex;
    justify-content: flex-end;
}

nb-select {
    width: 100%;
}

.label-input{
    font-weight: bold;
    margin: 5px 0;
}

.task-info-ipt{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;

    &:focus{
        border: 2px solid var(--dark);
    }
}

.select-assignee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}


.btn-dialog{
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    margin: 0 5px;
}

.cancelBtn{
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
    color: var(--dark);

    &:hover{
        border: 2px solid var(--dark);
        cursor: pointer;
    }
}

.addBtn{
    // background-color: #f44336;
    // color: #fff;
    background-color: var(--dark);
    border: 2px solid var(--dark);
    color: white;

    &:hover{
        background-color: white;
        color: var(--dark);
        cursor: pointer;
    }
}

.option-assignee{
    display: flex;
    flex-direction: row;
    align-items: center;

    img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
        border: 2px solid #d1d1d1;
    }
}