<nb-card>
    <nb-card-header>
        CREATE NEW TASK
    </nb-card-header>
    <nb-card-body>
        <p class="label-input">Task title*</p>
        <input class="task-info-ipt" type="text" [(ngModel)]="taskName" placeholder="Enter task title...">
        
        <p class="label-input">Description*</p>
        <input class="task-info-ipt" type="text" [(ngModel)]="taskDescription" placeholder="This task is about...">
        
        <!-- <div class="select-assignee">
            <p class="label-input">Assign to</p>
            <nb-select placeholder="Choose Assignee" [(selected)]="selectedAssignee">
                <nb-option *ngFor="let mem of project.members" [value]="mem">
                    <div class="option-assignee">
                        <img [src]="mem.photoURL" alt="">
                        <p>{{mem.displayName}}</p>
                    </div>
                </nb-option>
            </nb-select>    
        </div> -->
        <div class="select-assignee">
            <p class="label-input">Assign to</p>
            <nb-tag-list (tagRemove)="onTagRemove($event)">
                <nb-tag *ngFor="let tag of tags" [text]="tag" removable></nb-tag>
                <input type="text" nbTagInput placeholder="Assign to..." [nbAutocomplete]="autocomplete" fullWidth>
            </nb-tag-list>
            <nb-autocomplete #autocomplete (selectedChange)="onTagAdd($event)">
                <nb-option class="option" *ngFor="let mem of project.members" [value]="mem">
                    <img [src]="mem.photoURL" alt="">
                    <h6>{{mem.displayName}}</h6>
                </nb-option>
            </nb-autocomplete>   
        </div>
        <div class="task-label">
            <p class="label-input">Label</p>
            <nb-select placeholder="Choose label" [(selected)]="selectedLabel">
                <nb-option *ngFor="let label of optionLabels" [value]="label">
                    <div class="option-assignee">
                        <p>{{label.label}}</p>
                    </div>
                </nb-option>
            </nb-select>    
        </div>
        
    </nb-card-body>
    <nb-card-footer>
        <button class="btn-dialog cancelBtn" (click)="ref.close()">Cancel</button>
        <button class="btn-dialog addBtn" (click)="createTask()">Create task</button>
    </nb-card-footer>
</nb-card>