
.project-task-card {
    width: 100%;
    height: 14rem;
    border-radius: 10px;
    margin: 10px 0;
    border: 2px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
        cursor: pointer;
        border: 2px solid var(--primary);
    }
}

.project-task-card-content {
    width: 90%;
    height: 88%;
}

.task-preview {
    display: flex;
    flex-direction: column;
    height: 82%;
}

.task-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.task-label-prio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .tag {
        padding: 3px 5px;
        border-radius: 5px;
        background-color: var(--light-blue);
        margin: 0 5px 0 0;
        font-size: 0.7rem;
    }
}

// priority tag colors
.prio-high {
    background-color: var(--high) !important;
}

.prio-med {
    background-color: var(--medium) !important;
}

.prio-low {
    background-color: var(--low) !important;
}

.task-title {
    margin-bottom: 5px;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
    /* let the text wrap preserving spaces */
}

.task-des {
    margin-bottom: 3px;
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
    /* let the text wrap preserving spaces */
}

.task-deadline {
    display: flex;
    flex-direction: row;

    nb-icon {
        font-size: 1rem;
        color: var(--gray-text);
        margin-right: 5px;
    }

    p {
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--gray-text);
        margin-right: 5px;
    }
}

// Task info about asignee list avatars and number of comments and sub tasks
.task-info {
    border-top: 1px solid var(--light-gray-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18%;
    width: 100%;
    padding: 3px;
}

.task-info-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Asignee avatar css



.task-asignee-ava {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 2.5px solid white;
    margin-left: -0.7rem;
}

.task-comment-subTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
}

.task-comment,
.task-subTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;

    nb-icon {
        font-size: 1rem;
        color: var(--dark);
        margin-right: 5px;
    }
}