<div class="project-card" [nbTooltip]="project.name" nbTooltipPlacement="top">
    <div class="project-card-content">
        <div class="project-card-top"  (click)="projectDetail(project.project_id)">
            <h4 class="project-title">{{project.name}}</h4>
            <p class="project-summary" *ngIf="project.description !== ''">{{project.description}}</p>
            <p class="project-non-summary">This project doesn't have summary ...</p>
        </div>
        <div class="project-card-bottom">
            <div class="project-card-bot-content">
                <p>Last udpated: {{project.updated_at | date}}</p>
                <div class="delete-project-btn" nbTooltip="Delete project" nbTooltipPlacement="bottom" (click)="deleteProject(project.project_id)">
                    <nb-icon [options]="{ animation: { type: 'pulse' } }" icon="trash-2-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>