<div class="project-card-container">
    <div class="project-table-head-label project-pin">
        <div (click)="onPinned()">
            <nb-icon *ngIf="!isPinned" icon="star-outline"></nb-icon>
            <nb-icon *ngIf="isPinned" icon="star" style="color: var(--yellow);"></nb-icon>
        </div>
    </div>
    <div class="project-table-head-label project-name">
        <p>This is a demo project</p>
    </div>
    <div class="project-table-head-label project-type">
        <p class="project-type-tag team">Team-managed</p>
    </div>
    <div class="project-table-head-label project-leader">
        <img src="../../../../../assets/images/user.jpg" alt="">
        <p>Demo</p>
    </div>
    <div class="project-table-head-label project-action">
        <div class="project-action-btn"  [nbContextMenu]="items">
            <nb-icon icon="more-horizontal-outline"></nb-icon>
        </div>
    </div>
</div>