<div class="project-card-container">
    <div class="project-table-head-label project-pin">
        <nb-icon icon="star-outline"></nb-icon>
    </div>
    <div class="project-table-head-label project-name">
        <p>This is a demo project</p>
    </div>
    <div class="project-table-head-label project-type">
        <p>Type</p>
    </div>
    <div class="project-table-head-label project-leader">
        <img src="../../../../../assets/images/user.jpg" alt="">
        <p>Demo</p>
    </div>
    <div class="project-table-head-label project-action"></div>
</div>